extends ../main.layout.pug

block variables
  - var title = 'blog'
  - var headerTitle = 'блог'
  - var headerText = 'Статьи, которые я написала'
  - var headerContentClass = 'header__content_blog'
  - var headerTitleClass = 'header__title_blog'
  - var headerTextClass = 'header__text_blog'
  - var containerHeader = 'container__header_blog'
  - var headerMainBg = 'header__main'
  - var artTitles = [['Самое важное в SASS', 'aricles-titles__item_active'],['Приёмы в вёрстке, без которых не обходится ни один сайт', ''],['Самый необходимый набор Gulp плагинов', ''], ['Почему я выбрала Jade', ''], ['Ограничение длины текста через градиент', '']]
block scripts
  script(src='js/blog.bundle.js')

  
block content
  include ../common/figure.pug
  .maincontent_blog
    
    aside.titlesarticles
      +articleTitles(artTitles)
    include ../common/articles.pug
  include ../common/footer.pug
