extends ../auth.layout.pug

block content
	.welcome
		.welcome__header
			button(type="button" class="autorise-btn") Авторизоваться
			
		.welcome__main
			include ../common/welcomecard.pug
		
		footer.welcome__footer
			include ../common/welcomefooter.pug
						
