extends ../main.layout.pug

block variables
	- var title = 'my works'
	- var headerTitle = 'Анна Сысоева'
	- var headerText = 'Личный сайт веб разработчика'
	- var headerContentClass = 'header__content'
	- var headerTitleClass = 'header__title'
	- var headerTextClass = 'header__text'
	- var containerHeader = 'container__header'
	- var headerMainBg = 'header__main_portfoliobg'

block scripts
	script(src='works.bundle.js')

block content

	include ../common/footer.pug