- var footerColor = 'footer_textcolor'

footer.footer
	.container
		.footer__row-links
			.footer__menu
				include menu.pug
			.footer__socials
				- var SocialItems = [['round', 'https://vk.com/spureful', 'vk_round'],['round', 'https://github.com/spureful', 'github_round'],['round','#', 'in_round']]
					+socials(SocialItems, 'round' )
	hr.footer__line
	.container
		.footer__row-content
			.footer__column-left
				.footer__content Я веб-разработчик из Санкт-Петербурга, и этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. 
			.footer__column-right
				include welcomefooter.pug
		
		
	
	
	