.menu
	ul.menu-list
		li.menu-item
			a.menu-link(href='myworks.html') Мои работы
				
		li.menu-item
			a.menu-link(href='about.html') Обо мне
				
		li.menu-item
			a.menu-link(href='blog.html') Блог
				
		li.menu-item
			a.menu-link(href='index.html') Авторизация