.parallax

	img.parallax__layer.parallax__layer_1( src = 'assets/images/parallax/layer_1.png' role='presentation')
	img.parallax__layer.parallax__layer_2.js-parallax__layer( src = 'assets/images/parallax/layer_2.png' role='presentation')
	img.parallax__layer.parallax__layer_3.js-parallax__layer( src = 'assets/images/parallax/layer_3.png' role='presentation')
	img.parallax__layer.parallax__layer_4.js-parallax__layer( src = 'assets/images/parallax/layer_4.png' role='presentation')
	img.parallax__layer.parallax__layer_5.js-parallax__layer( src = 'assets/images/parallax/layer_5.png' role='presentation')
	img.parallax__layer.parallax__layer_6.js-parallax__layer( src = 'assets/images/parallax/layer_6.png' role='presentation')
	img.parallax__layer.parallax__layer_7.js-parallax__layer( src = 'assets/images/parallax/layer_7.png' role='presentation')
	img.parallax__layer.parallax__layer_8.js-parallax__layer( src = 'assets/images/parallax/layer_8.png' role='presentation')
	img.parallax__layer.parallax__layer_9.js-parallax__layer( src = 'assets/images/parallax/layer_9.png' role='presentation')
	img.parallax__layer.parallax__layer_10.js-parallax__layer( src = 'assets/images/parallax/layer_10.png' role='presentation')
