.preloader.js-preloader
	.preloader__img
		svg(id="preloader" class="preloader__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 	 width="144px" height="144px" viewBox="0 0 144 144" enable-background="new 0 0 144 144" xml:space="preserve")
			circle(class="preloader__circle-above js-preloader__circle-above" opacity="0.4"  fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" enable-background="new    " cx="72" cy="71.999" r="70")
			circle(class="preloader__circle-middle js-preloader__circle-middle" opacity="0.7" fill="none" stroke="#FFFFFF" stroke-width="3.8938" stroke-miterlimit="10" enable-background="new    " cx="72" cy="72" r="55")
			circle(class="preloader__circle-inner js-preloader__circle-inner" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" cx="72" cy="72" r="40")
			 
		.preloader__text.js-preloader__text 0%
