section.slider
	.slider__container.js-slider
			.slider__info
				
				.slider__info-title
					h3.subtitle_blue.subtitle-blue_slider.js-slider-sitename 
				.slider__info-tags.js-slider-tags 
				a.slider__info-link.js-slider-link(target='_blank') Перейти на сайт

		
			.slider__mainslide 
				img.slider__mainslide-img.js-mainslide(alt="Mainslide")
				
			.slider__buttons
				button.slider__slidedown.js-slide-btndown(type='button')
					img.slider__buttonslide-img.js-slide-down(alt='previewslide')
				button.slider__slideup.js-slide-btnup(type='button')
					img.slider__buttonslide-img.js-slide-up(alt='nextslide')
					