ul.social-list
  li.social-item
    a.social-link(href='https://vk.com/spureful')
      +icon('vk', 'social-icon')  
  li.social-item
    a.social-link(href='https://github.com/spureful')
      +icon('github', 'social-icon')
  li.social-item
    a.social-link(href='#')
      +icon('in', 'social-icon')
  
  
  

  
  			
  