ul.socialround-list
  li.socialround-item
    a.socialround-link(href='https://vk.com/spureful')
      +icon('vk_round', 'socialround-icon')  
  li.socialround-item
    a.socialround-link(href='https://github.com/spureful')
      +icon('github_round', 'socialround-icon')
  li.socialround-item
    a.socialround-link(href='#')
      +icon('in_round', 'socialround-icon')
  
  
  

  
  			
  