- var artTitles_tablet = [['Самое важное в SASS', 'aricles-titles__item_active'],['Приёмы в вёрстке, без которых не обходится ни один сайт', ''],['Самый необходимый набор Gulp плагинов', ''], ['Почему я выбрала Jade', ''], ['Ограничение длины текста через градиент', '']]

.titlearticles_tablet
	aside.titlesarticles
		+articleTitles(artTitles_tablet)