.welcomecard
	.welcomecard__image
		+image('welcome/avatar.jpg', 'Аватар', 'welcomecard__ava')
		
	.welcomecard__content
		.welcomecard__name Анна Сысоева
		.welcomecard__text Личный сайт веб разработчика
		
	.welcomecard__social
		- var SocialItems = [['welcomecard', 'https://vk.com/spureful', 'vk'],['welcomecard', 'https://github.com/spureful', 'github'],['welcomecard','#', 'in']]
			+socials(SocialItems, 'welcomecard')
					
	.welcomecard__menu
		ul.welcomecard__menu-list
			li.welcomecard__menu-item
				a.welcomecard__menu-link(href='myworks.html') Мои работы
				
			li.welcomecard__menu-item
				a.welcomecard__menu-link(href='about.html') Обо мне
				
			li.welcomecard__menu-item
				a.welcomecard__menu-link(href='blog.html') Блог
	
