include ./common/_mixins

doctype html
html(lang="Ru ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | welcome page
    link(rel="stylesheet", href="css/main.min.css")
    script (src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
  body
    include common/preloader.pug
    .wrapper.js-wrapper-preloader  
    
      block content

    script(src="js/bootloader.bundle.js")
    script(src="js/auth.bundle.js")
	
