include ./common/_mixins
block variables

doctype html
html(lang="Ru ru")
	head
		meta(charset="utf-8")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		title Portfolio | #{title}
	link(rel='stylesheet' href='css/main.min.css')
	
	body
		.wrapper
			
			include ./common/header.pug
			
			.maincontent
				block content
				
			
		
	script(src='js/bootloader.bundle.js')
	script(src='js/vendor.bundle.js')
	block scripts
