include ./common/_mixins
block variables

doctype html
html(lang="Ru ru")
	head
		meta(charset="utf-8")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		title Portfolio | #{title}
		script (src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
	link(rel='stylesheet' href='css/main.min.css')
	
	body
		include common/preloader.pug
		.wrapper.js-wrapper-preloader(class=`${wrapModif}`)
			include ./common/hamburgermenu.pug
			include ./common/header.pug
			
			.maincontent
				block content
				
			
	
	script(src='js/bootloader.bundle.js')
	script(src='js/vendor.bundle.js')
	block scripts
