body,
html {
	height: 100%;


	@include phone {
		min-width: 320px;
	}
}


body {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.42;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include phone {
		font-size: 14px;
	}
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;


}

.header,
.footer {
	flex: 0 0 auto;
}

.maincontent {
	flex: 1 0 auto;
	position: relative;

}

.container {
	margin: 0 auto;
	width: 95%;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

.title {
	@include title(#373e42);

}

.title_white {
	@include title(#fff);

}

.subtitle {
	@include subtitle(#373e42);

}

.subtitle_blue {
	@include subtitle(#455a64);


}
