//@function rem($px){
//	@return $px/16px + 0rem;
//}

@mixin netbook {
	@media screen and (max-width: 1255px) {
		@content;
	}
}
@mixin tablet {
	@media screen and (max-width: 1010px) {
		@content;
	}
}

@mixin phone {
	@media screen and (max-width: 490px) {
		@content;
	}
}

@mixin card {
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 5px;

	padding-top: 2.63rem;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin cardmenu {
	background-color: rgba($green, 0.85);

	color: #fff;
	text-align: center;
	padding: 0.96rem 1.94rem;
	border-right: 2px solid #73cac3;
	


	&:last-child {
		border-right: none;
	}

	&:hover {
		background-color: rgba($darkgreen, 0.85);
	}
}

@mixin title($titleColor) {
	font-family: bernier, arial, sans-serif;
	font-size: 3.9375rem;
	color: $titleColor;
 
	display: inline;

	position: relative;
	
	@include phone {
		font-size: 2.1875rem;
	}


	&:before,
	&:after {
		content: '';
		display: block;
		width: 26px;
		height: 6px;
		background-color: rgba($titleColor, 0.2);

		position: absolute;
		top: 2.5rem;
	
	}

	&:before {
		left: -2.5rem;
		@include phone {
		
	}
	}


	&:after {
		right: -2.5rem;
	
	}
}

@mixin subtitle($titleColor) {
	font-family: bernier, arial, sans-serif;
	font-size: 2.1875rem;
	color: $titleColor;
 
	display: inline;

	position: relative;

	@include phone {
		font-size: 1.3125rem;
	}

	&:before,
	&:after {
		content: '';
		display: block;
		width: 23px;
		height: 6px;
		background-color: rgba($titleColor, 0.2);

		position: absolute;
		top: 1.2rem;

		@include phone {
		top: 0.5rem;
	}
	}

	&:before {
		left: -2.5rem;
	}


	&:after {
		right: -2.5rem;
	}
}



	


	