.maincontent_blog {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;


	margin: 0 auto;
	padding-top: 4.25rem;

	position: relative;
	@include netbook {
		padding-left: 2.1875rem;
		padding-right: 2%;
	}

	@include phone {
		padding: 0.7rem;
	}
}



.titlesarticles {


	//	max-width: 272px;
	width: 30%;
	text-align: right;

	margin-right: 7.5rem;



	@include netbook {
		width: 30%;

	}

	@include tablet {
		position: fixed;
		top: 0;
		right: 100%;
		font-size: 0;
		z-index: 200;

		width: 50%;
		height: 100vh;
		margin-right: 0;

		background-color: $green;
		box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2);

		vertical-align: middle;
		padding: 2rem;



	}

	@include phone {
		right: 101%;
		width: 70%;
	}

	&_active {
		@include tablet {
			right: 0;
			left: 0;
			font-size: 1rem;
		}
	}
}



.aricles-titles__list {

	position: absolute;
	top: 75px;
	right: 75%;

	@include tablet {
		top: 50px;
		right: 0;
		left: 3%;
	}


}

.aricles-titles__item {

	color: #455a64;
	padding: 0.625rem;
	padding-right: 1rem;
	margin-bottom: 1.56rem;

	@include tablet {
		color: #fff;
	}

}

.aricles-titles__item_active {
	font-weight: 700;
	color: #00bfa5;
	padding-right: 1rem;
	border-right: 3px solid $green;

	@include tablet {
		color: #fff;
		border-right: none;
	}


}

.titlesarticles__button {
	display: none;
	@include tablet {
		display: block;
		height: 3.75rem;
		width: 3.75rem;
		background-color: $green;
		border-radius: 50%;
		box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2);

		position: absolute;
		top: 50%;
		right: -6%;
		z-index: -10;

	}

	@include phone {
		right: -5%;
	}
}
