.maincontent_blog {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-around;

	margin: 0 auto;
	padding-top: 4.25rem;
	padding-left: 7.8rem;
	padding-right: 19.5rem;

	position: relative;

	@include netbook {
		padding-left: 2.1875rem;
		padding-right: 3.625rem;
	}
	
	@include phone {
		padding: 0.7rem;
	}
}



.titlesarticles {
	max-width: 272px;
	text-align: right;

	margin-right: 7.5rem;

	@include netbook {
		width: 30%;
	}

	@include tablet {
		position: fixed;
		top: 0;
		right: 100%;
		z-index: 200;

		width: 100vw;
		height: 100vh;
		margin-right: 0;

		background-color: $green;
		box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2);

		vertical-align: middle;
		padding:2rem;


	}

	@include phone {
		right: 101%;
	}
}


.titlesarticles__button {
	display: none;
	@include tablet {
		display: block;
		height: 3.75rem;
		width: 3.75rem;
		background-color: $green;
		border-radius: 50%;
		box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2);

		position: absolute;
		top: 50%;
		right: -6%;
		z-index: 0;

	}
	
	@include phone {
		right: -5%;
	}
}

.aricles-titles__item {

	color: #455a64;
	padding: 0.625rem;
	padding-right: 1rem;
	margin-bottom: 1.56rem;

	@include tablet {
		color: #fff;
	}

}

.aricles-titles__item_active {
	font-weight: 700;
	color: #00bfa5;

	border-right: 3px solid $green;

	@include tablet {
		color: #fff;
		border-right: none;
	}


}
