.contacts {
	@include card;
	padding: 2.1875rem;

	@include phone {
		background-color: #fff;
		top: 15%;
		left: 50%;
		width: 100%;
		border-radius: 0;

	}
}

.contacts__title {
	text-align: center;
	margin-bottom: 1.8rem;

	.subtitle {
		
		&:before, &:after{
			@include phone {
				top: 1rem;
			}
		}
		@include phone {
			font-size: 2.1875rem;
		}
	}
}



.contacts__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.contacts__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	margin-bottom: 1.625rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.contacts__icon {
	margin-right: 0.625rem;
}

.contacts__icon-svg {
	width: 25px;
	height: 25px;
	fill: #00bea4;
}

.contacts__contact {
	text-decoration: none;
}

.contacts__contact-text {
	color: rgba(#455a64, 0.8);
	font-weight: 500;
}
