.footer {
	background-color: rgba(#555b5e, 0.85);
	width: 100%;
	
	@include phone {
		font-size: 0,8125;
	
		
	}

}

.footer__row-links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include tablet {
		flex-direction: column;
	}

}

.footer__menu {
	padding: 1.875rem 0;

}

.footer__row-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-weight: 300;
	color: rgba(#fff, 0.5);

	.welcome__footer-item:after {
		background-color: rgba(#fff, 0.5);
	}
	
	@include tablet {
		width: 100%;
		flex-direction: column;
		align-content: stretch;
	}
	
	@include phone {
		font-size: 0.8125rem;
		text-align: center;
	}
}


.footer__column-left {
	padding: 1.25rem 0;

	width: 50%;
	max-width: 510px;
	
	@include tablet {
		
		width: 100%;
		
	}	
}

.footer__line {
	background-color: rgba(#fff, 0.5);
	height: 1px;
	border: none;
}
