.hamburgermenu {
	width: 2.56rem;
	height: 2.31rem;
	position: relative;
	cursor: pointer;
	
	background: none;
	


}


.hamburgermenu__item {

	
	display: block;
	
	background-color: #fff;
	width: 2.56rem;
	height: 0.31rem;

	border-radius: 3px;
	text-align: center;
	
	position: absolute;
	left: 0;
	top: 50%;
	padding: 0;
	
	&:before,
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		background-color: #fff;
		width: 2.56rem;
		height: 0.31rem;

		border-radius: 3px;
		position: absolute;

	}
	&:before {
		left: 0;
		top: -300%;
	}

	&:after {
		left: 0;
		bottom:-300%;
	}
}
