.hamburgermenu {
	width: 2.56rem;
	height: 2.31rem;
	position: absolute;
	top: 49px;
	right: 55px;
	cursor: pointer;

	z-index: 200;

	background: none;

	@include tablet {
		height: 2.375rem;
	}

	@include phone {
		width: 1.75rem;
		height: 1.75rem;
		top: 0.7rem;
		right: 0.7rem;
	}
}

.hamburgermenu__btn {
	background-color: transparent;
	width: 100%;
	height: 100%;
}

.hamburgermenu__item {


	display: block;

	background-color: #fff;
	width: 2.56rem;
	height: 0.31rem;

	border-radius: 3px;
	text-align: center;

	position: absolute;
	left: 0;
	top: 50%;
	padding: 0;

	@include phone {
		width: 1.75rem;
		height: 0.25rem;
	}

	&:before,
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		background-color: #fff;
		width: 2.56rem;
		height: 0.31rem;

		border-radius: 3px;
		position: absolute;

		@include phone {
			width: 1.75rem;
			height: 0.25rem;

		}

	}
	&:before {
		left: 0;
		top: -300%;
	}

	&:after {
		left: 0;
		bottom: -300%;
	}
}

.hamburgermenu__block {

	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;

	z-index: 10000;

	overflow: hidden;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;

	display: none;
}

.js-menu {
	&_visible {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
	}
}


.hamburgermenu-closebtn {
	background-color: transparent;
	width: 36px;
	height: 36px;
	position: absolute;
	top: 65px;
	right: 65px;

}

.hamburgermenu-closebtn-item {
	width: 36px;
	height: 6px;
	background-color: #fff;
	border-radius: 3px;
	transform: rotate(45deg);
	position: relative;
	cursor: pointer;
	&:before {
		content: '';
		display: block;
		width: 36px;
		height: 6px;
		background-color: #fff;
		border-radius: 3px;
		transform: rotate(90deg);

		position: absolute;
		top: 0px;
		left: 0px;
	}
}

.hamburgermenu__menu {
	//	flex: 1;
	margin: auto;
}

.hamburgermenu__list {
	text-align: center;
}


.title_hamburgermenu {
	color: #fff;
	text-decoration: none;
   
	&:before,
	&:after {
		background-color: rgba(#fff, 0.8);
		opacity: 0;
		transition: 0.5s;

	}

	&:hover:before,
	&:hover:after {
		opacity: 1;

	}
	
}

.hamburgermenu__leftdoor {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: rgba($green, 0.87);
	transition: 1.3s;
	
}

.hamburgermenu__rightdoor {
	position: fixed;
	top: 0;
	right: 0;
	width:0;
	height: 100%;
	background-color: rgba($green, 0.87);
	transition: 1.3s;
	
	
	}


