.header {

	background-image: url(./assets/images/header/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
	
	width: 100%;
	height: 100vh;
	min-height: 650px;
//	
//	margin-bottom: 4.25rem;
	

	
}


.header__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;

	padding-top: 1.875rem;
	margin-bottom: 4rem;
}

.header__row-right {
	text-align: right;
}

.header__main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;

	flex: 1;
	
	justify-content: center;
}



.header__ava {
	border-radius: 50%;
}

.container__header{
	width: 95%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
//	align-items: center;
	
	margin: 0 auto;
}

.header__title {
	font-weight: 500;
	font-size:2.188rem;
	color: #fff;
	
	margin-bottom: 0.69rem;
	
}

.header__text{
	font-weight: 300;	
	color: rgba(#fff, 0.8);
}

.header__content{
	margin-bottom:7.75rem ;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header__arrow-icon {
	fill: #fff;
	width: 26px;
	height: 15px;
}



.header__arrow {
	text-align: center;
	margin-bottom: 4.5rem;
}