
.map {
	background-image: url(../assets/images/about/map.jpg);
	background-size: cover;
	position: relative;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;

	
}

.map__container {
	height: 100vh;
}

