.slider {

	background-color: #f0efe9;
	height: 100%;
	margin-bottom: 2rem;
}

.slider__container {

	display: grid;
	grid-template: "info mainslide" 70% "info buttons" 30% / 1fr 1fr;

	height: 100vh;
}

.slider__info {

	text-align: center;
	margin: auto;
	grid-area: info;

}

//.slider__info-container {
//	margin: 0 auto;
//	
//}
.slider__info-title {
	margin-bottom: 2.4rem;
}

.slider__info-tags {
	text-transform: uppercase;
	color: #20b5a1;
	font-weight: 500;


	border-top: 1px solid $green;
	border-bottom: 1px solid $green;

	padding: 1.2rem 0;
	margin-bottom: 2.625rem;

}

.slider__info-link {
	color: #fff;
	font-weight: 500;

	background-color: $green;

	border-radius: 5px;

	padding: 1rem 1.375rem 1rem 3.0625rem;

	position: relative;

	transition: 0.5s;

	&:before {
		content: '';
		display: block;
		width: 22px;
		height: 22px;

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 1.1rem;

		background: svg-load('link.svg', fill=#fff) center center no-repeat;
	}

	&:hover {
		background-color: $darkgreen;
	}
}


.slider__mainslide {
	background-color: #efebe0;
	//	height: 32.875rem;
	text-align: center;
	grid-area: mainslide;
}

.slider__mainslide-img {
	padding: 3.125rem 0;
	height: 100%;

}

.slider__buttons {

	overflow: hidden;
	grid-area: buttons;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background-color: #b9b8b4;
}

.slider__slidedown {

	width: 50%;
	position: relative;

	&:before {
		content: '';
		display: block;

		width: 100%;
		height: 100%;

		background: rgba(#b9b8b4, 0.8) svg-load('portf_arrow_down.svg', fill=#fff) center center no-repeat;

		position: absolute;
		left: 0;
		top: 0;


	}

	&:hover:before {
		background-color: rgba(#a6a39b, 0.8);
	}
}

.slider__slideup {

	width: 50%;
	position: relative;

	&:before {
		content: '';
		display: block;

		width: 100%;
		height: 100%;

		background: rgba(#b9b8b4, 0.8) svg-load('portf_arrow_up.svg', fill=#fff) center center no-repeat;

		position: absolute;
		left: 0;
		top: 0;


	}
	&:hover:before {
		background-color: rgba(#a6a39b, 0.8);
	}

}

.slider__buttonslide-img {
	height: 16.4375rem;
}
