.titlearticles_tablet{
	display: none;
	
	
	.titlesarticles {
		display: block;
		text-align: right;
	}
	
	.aricles-titles__item {

	color: #fff;
		

}

.aricles-titles__item_active {
	font-weight: 700;
	color: #fff;

	border-right: none;




}
	@include tablet {
		display: block;
		background-color: $green;
		color: #fff;
		
		height: 100vh;
		
		position: absolute;
		top: 0;
		left: 0;
	}
}

//include ../common/titlearticles_tablet.pug